/* body {
  background-image: url("")
} */

.App {
  text-align: center;
  
}
.nav-links {
 list-style: none;
 color: white;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

a{
  text-decoration: none;
  
}

#va {
  font-size: 50px;
}

