body {
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/36/02/clink-mugs-with-beer-icons-vector-7193602.jpg");
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  
}
.nav-links {
 list-style: none;
 color: white;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 background-color: rgb(72,156,145);
 font-size: 20px;
}
nav {
  height: 20px
}

a{
  text-decoration: none;
  color: black;
}
.C{
  margin-left: 600px;
  margin-top: 95px;
  font-size: 20px;
}
.N{
  margin-left: 600px;
}

#va {
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
}

